/* This is the style page for the entire application. We realize that it probably isn't good 
coding style, but the number of files devoted to style would be ridiculously long otherwise. */
/* The defined styles are listed in alphabetical order. */

.about-text {
	color: rebeccapurple;
	text-align: left;
	margin-top: 5vw;
	margin-left: 10vw;
	margin-right: 10vw;
}

.button {
	color: rebeccapurple;
	width: 25vw;
	top-padding: 30px;
	right-padding: 20px;
	margin-top: 15px;
	margin-left: 35vw;
}

.category {
	background: none;
	color: rebeccapurple;
	margin-right: 8vw;
	margin-left: 5vw;
}

.destination {
	color: rebeccapurple;
	display: inline;
	margin-right: 1vw;
}

.ending-location {
	color: rebeccapurple;
	width: 40vw;
	top-padding: 30px;
	right-padding: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 35vw;
}

.heading {
	color: rebeccapurple;
	text-align: center;
	margin-top: 5vw;
}

.help-header {
	color: rebeccapurple;
}

.help-text {
	margin-left: 15px;
}

.main-menu {
	color: rebeccapurple;
	text-align: center;
	margin-top: 5vw;
}

.main-navigation-button {
	color: rebeccapurple;
	width: 20.5vw;
	margin-right: 1vw;
}

.round-button {
	width: 2em;
	height: 2em;
	border-radius: 50%;
	margin-top: 5vw;
	margin-left: 80vw;
}

.search {
	color: gray;
	margin-left: 40vw;
	margin-bottom: 3vw;
}

.settings-button {
	color: rebeccapurple;
	top-padding: 30px;
	right-padding: 20px;
	margin-top: 5px;
	margin-right: 15px;
}

.settings-type {
	color: rebeccapurple;
	text-align: left;
	margin-top: 5vw;
}

.starting-location {
	color: rebeccapurple;
	width: 40vw;
	top-padding: 30px;
	right-padding: 20px;
	margin-top: 15px;
	margin-left: 35vw;
}

.table {
	border-collapse: collapse;
	border-style: hidden;
	width: 100%;
}

.text-size-type {
	color: rebeccapurple;
	text-align: left;
}

th, td {
	padding: 1vw;
	border: .25vw solid black;
	text-align: center;
	width: 50%;
}